trigger:
  - main

pool:
  name: Default

workspace:
  clean: all

variables:
  backend_dir: 'backend'

steps:
  - script: |
      cd $(backend_dir)
      npm ci
    displayName: "Install backend dependencies"

  - script: |
      cd $(backend_dir)
      npm test
    displayName: "Run Jest tests with coverage"

  - script: |
      cd $(backend_dir)
      npm run build
    displayName: "Build backend application"