version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: pomodoro-backend
    ports:
      - "3001:8000"
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: pomodoro-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
